/***
Credit Collection page
***/

#tableSaleReceivable tbody td {
    line-height: 34px !important;
}

#tableListSaleReceivable tbody tr td:nth-child(5) {
    text-align: right;
}

#tableSaleReceivableCredit tbody tr td:nth-child(4), #tableSaleReceivableCredit tbody tr td:nth-child(5), #tableSaleReceivableCredit tbody tr td:nth-child(6) {
    text-align: right;
}

#tableSalePaid tbody tr td:nth-child(4), #tableSalePaid tbody tr td:nth-child(5) {
    text-align: right;
}

#tableSalePaid tfoot tr td {
    text-align: right;
}

#tableListSaleReceivablePayment tbody td {
    line-height: 34px !important;
}

#tableListSaleReceivablePayment tbody tr td:nth-child(2) {
    text-align: right;
}

#tableListSaleReceivablePayment tfoot tr td {
    text-align: right;
}

/* Sale Management */
#tableDriverInventory tbody>tr.tr-highlight, #tableSaleItems tbody>tr.tr-highlight{
	background-color: #D7E0FA;
}

#tableSaleItems{
	font-size: 1.2em;
}

#tableSaleItems tbody>tr td.td-active{
	background-color: #87A3EE;
}
#tableSaleItems tfoot th{
	font-size: 1.7em;
}

#tableSaleItems tbody>tr>td{
	vertical-align: middle;
	line-height: 34px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#tableSaleItems tbody td>input{
	text-align: right;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#inputDate {
	cursor: pointer;
}

#tableRequisitionList tbody tr.paid {
    background-color: #b6d7a8;
}

#tableRequisitionList tbody tr.scheduled {
    background-color: #ffe599;
}

#tableRequisitionList tbody tr.delayed {
    background-color: #dd7e6b;
}

#tableRequisitionList tbody .btn-link {
    color: black;
}

#tableRequisitionList th, #tableRequisitionList td {
    vertical-align: middle;
}

#modalRequisitionDetail .header-info {
    text-align: center;
    font-weight: bold;
}
#modalRequisitionDetail .driver,
#modalRequisitionDetail .ticket,
#modalRequisitionDetail .date,
#modalRequisitionDetail .client {
    font-weight: bold;
}

#modalRequisitionDetail .table-info {
    border: 0;
    border-top: 1px;
    border-bottom: 1px;
    border-style: dotted;
}

#modalRequisitionDetail .table-info td {
    border: 0;
}
#modalRequisitionDetail .total-info {
    text-align: center;
    font-size: 20px;
}

#modalRequisitionDetail .total {
    font-weight: bold;
    font-size: 25px;
}

#inputDiscount {
    text-align: right;
}

#tableHistory th {
    width: 50px;
}

#tableHistory th:last-child {
    width: calc(100% - 350px);
}

#tableHistory th:first-child{
  padding-right: 250px !important;
}
