.DS_Store
error_log
ftpsync.settings
.env
.vscode
Thumbs.db
cron_jobs/config.php
resource/requisitions/pdf/*
resource/supplier/pdf/*
resource/creditor/pdf/*
resource/driver/pdf/*
resource/paysheet/*
resource/invoice/credit-note/*
resource/invoice/pdf/*
resource/invoice/voucher/*
resource/invoice/xml/*
resource/sales-receipt/pdf/*
resource/paysheet/*
!resource/driver/pdf/.gitkeep
!resource/invoice/credit-note/.gitkeep
!resource/invoice/pdf/.gitkeep
!resource/invoice/voucher/.gitkeep
!resource/invoice/xml/.gitkeep
!resource/sales-receipt/pdf/.gitkeep
session/*
pdf/init.php
pdf/logo-botanas.png
pdf/test.pdf
!session/.gitkeep
/.botanas_env
