Options -Indexes

ErrorDocument 404 /error/404/

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP_HOST} !=localhost:4500
	RewriteCond %{HTTP_HOST} !=127.0.0.1:4500
	RewriteCond %{REMOTE_ADDR} !=127.0.0.1:4500
	RewriteCond %{REMOTE_ADDR} !=::1
	RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	RewriteRule ^(.+)/404/?$ $1/404.php [L]
	RewriteRule ^login/?$ login.php [L]
	RewriteRule ^logout/?$ logout.php [L]
	RewriteRule ^(.+)/([A-Za-z0-9-]+)/?$ $1/$2.php [L]
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif "access plus 6 months"
	ExpiresByType image/jpeg "access plus 6 months"
	ExpiresByType image/png "access plus 6 months"
	ExpiresByType text/css "access plus 6 months"
	ExpiresByType text/javascript "access plus 6 months"
	ExpiresByType application/javascript "access plus 6 months"
</IfModule>

<IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/javascript
</IfModule>
